name: deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  initial-job:
    runs-on: ubuntu-latest
    steps:
      - name: print
        run: echo "We have a workflow"
